{
    "swagger": "2.0",
    "info": {
        "title": "Watch Vault apps API",
        "description": "HTTP JSON API",
        "version": "1.0.0"
    },
    "host": "api.watchvaultapp.com",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json",
        "application/xml",
        "application/x-www-form-urlencoded"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "parameters": [
                    {
                        "name": "login",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    }
                }
            }
        },
        "/signup": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "parameters": [
                    {
                        "name": "login",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "properties": {
                                "activate_token": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/activate/{activate_token}": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "description": "Returns Token",
                "parameters": [
                    {
                        "name": "activation_token",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    },
                    "404": {
                        "description": "User is not found"
                    }
                }
            }
        },
        "/forgot": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "description": "Returns Email",
                "parameters": [
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "properties": {
                                "email": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/forgot/set-password/{password_reset_token}": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "description": "Returns Token",
                "parameters": [
                    {
                        "name": "password_reset_token",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "205": {
                        "description": "Success response set password",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    }
                }
            }
        },
        "/token-refresh/{refresherToken}": {
            "patch": {
                "tags": [
                    "Authentication"
                ],
                "description": "Returns Token",
                "parameters": [
                    {
                        "name": "refresherToken",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "205": {
                        "description": "Success response refresh token",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    }
                }
            }
        },
        "/check-token/{token}": {
            "patch": {
                "tags": [
                    "Authentication"
                ],
                "description": "Returns boolean, true -> token not expired, false -> token expired",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response boolean"
                    }
                }
            }
        },
        "/carousels": {
            "get": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "characteristics",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CarouselData"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "subTitle",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "template_id",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/CarouselData"
                        }
                    }
                }
            }
        },
        "/carousels/active": {
            "get": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return status active carousels array",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "characteristics",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CarouselData"
                            }
                        }
                    }
                }
            }
        },
        "/carousels/{id}": {
            "get": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/CarouselData"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "subTitle",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "template_id",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/CarouselData"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                }
            }
        },
        "/carousels/{carousel_id}/items": {
            "get": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "parameters": [
                    {
                        "name": "carousel_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/CarouselItemData"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "parameters": [
                    {
                        "name": "carousel_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "title",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "item_id",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "text",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/CarouselData"
                        }
                    }
                }
            }
        },
        "/carousels/{carousel_id}/items/{item_id}": {
            "get": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "parameters": [
                    {
                        "name": "carousel_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "item_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/CarouselItemData"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "parameters": [
                    {
                        "name": "carousel_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "item_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "title",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "item_id",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "text",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/CarouselData"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "parameters": [
                    {
                        "name": "carousel_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "item_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                }
            }
        },
        "/carousels/{carousel_id}/items/{item_id}/images": {
            "post": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "parameters": [
                    {
                        "name": "carousel_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "item_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/CarouselData"
                        }
                    }
                }
            }
        },
        "/carousels/{carousel_id}/items/{item_id}/images/{image_id}": {
            "delete": {
                "tags": [
                    "Carousels"
                ],
                "description": "Return carousels array",
                "parameters": [
                    {
                        "name": "carousel_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "item_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/CarouselData"
                        }
                    }
                }
            }
        },
        "/public/users": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Public users, Return users array",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                }
            }
        },
        "/public/user/{id}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Public user by id, return user data",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "404": {
                        "description": "User not found."
                    }
                }
            }
        },
        "/public/user/{user_id}/products": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Public user products by user_id, return user products array data",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "products",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProductData"
                            }
                        }
                    }
                }
            }
        },
        "/public/user/products/{product_id}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Public user products by product_id, return user product data",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    }
                }
            }
        },
        "/public/user/{id}/followers": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Return user followers array",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "properties": {
                                    "KEY [0] -> {approve}": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/definitions/Profile"
                                        }
                                    },
                                    "KEY [1] -> {not approve}": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/definitions/Profile"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/public/user/{id}/following": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Return user following array",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "properties": {
                                    "KEY [0] -> {approve}": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/definitions/Profile"
                                        }
                                    },
                                    "KEY [1] -> {not approve}": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/definitions/Profile"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/public/countries": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Returns countries",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "countries",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Country"
                            }
                        }
                    }
                }
            }
        },
        "/public/countries/{id}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Returns country by id",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Country"
                        }
                    }
                }
            }
        },
        "/public/countries/{code}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Returns country by code ISO-2",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Country"
                        }
                    }
                }
            }
        },
        "/reviews/{type}/{item_id}": {
            "get": {
                "tags": [
                    "Reviews"
                ],
                "description": "Return reviews array by type and item_id",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "item_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                }
            }
        },
        "/reviews": {
            "post": {
                "tags": [
                    "Reviews"
                ],
                "description": "Create new review, Return review object",
                "parameters": [
                    {
                        "name": "title",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "parentId",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "text",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "item_id",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "score",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                }
            }
        },
        "/reviews/{id}": {
            "post": {
                "tags": [
                    "Reviews"
                ],
                "description": "Edit review by id, Return review object",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "title",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "parentId",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "text",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "item_id",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "score",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Reviews"
                ],
                "description": "Return reviews array by type and item_id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                }
            }
        },
        "/search/brands": {
            "post": {
                "tags": [
                    "ElasticSearch"
                ],
                "description": "returns elasticSearch brands data array",
                "parameters": [
                    {
                        "name": "text",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/BrandsResponseData"
                        }
                    },
                    "422": {
                        "description": "Data Validation Failed.",
                        "schema": {
                            "$ref": "#/definitions/DataValidationFailed"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/search/generic-products": {
            "post": {
                "tags": [
                    "ElasticSearch"
                ],
                "description": "returns elasticSearch generic products data array",
                "parameters": [
                    {
                        "name": "text",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/genericProductsResponseData"
                        }
                    },
                    "422": {
                        "description": "Data Validation Failed.",
                        "schema": {
                            "$ref": "#/definitions/DataValidationFailed"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/search/users": {
            "post": {
                "tags": [
                    "ElasticSearch"
                ],
                "description": "returns elasticSearch users data array",
                "parameters": [
                    {
                        "name": "text",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/UsersResponseData"
                        }
                    },
                    "422": {
                        "description": "Data Validation Failed.",
                        "schema": {
                            "$ref": "#/definitions/DataValidationFailed"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/search/user-products": {
            "post": {
                "tags": [
                    "ElasticSearch"
                ],
                "description": "returns elasticSearch user products data array",
                "parameters": [
                    {
                        "name": "text",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/genericProductsResponseData"
                        }
                    },
                    "422": {
                        "description": "Data Validation Failed.",
                        "schema": {
                            "$ref": "#/definitions/DataValidationFailed"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/search/combination": {
            "post": {
                "tags": [
                    "ElasticSearch"
                ],
                "description": "returns elasticSearch all data array",
                "parameters": [
                    {
                        "name": "text",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/genericProductsResponseData"
                        }
                    },
                    "422": {
                        "description": "Data Validation Failed.",
                        "schema": {
                            "$ref": "#/definitions/DataValidationFailed"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/": {
            "get": {
                "tags": [
                    "Info"
                ],
                "responses": {
                    "200": {
                        "description": "API version",
                        "schema": {
                            "properties": {
                                "version": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/generic/products": {
            "get": {
                "tags": [
                    "Generic Products"
                ],
                "description": "returns products array",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "characteristics",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProductData"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Generic Products"
                ],
                "description": "Multipart/form-data",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "categories",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoriesForm"
                        }
                    },
                    {
                        "name": "characteristics",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CharacteristicsForm"
                        }
                    },
                    {
                        "name": "modifications",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ModificationsForm"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TagsForm"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    },
                    "455": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{id}": {
            "get": {
                "tags": [
                    "Generic Products"
                ],
                "description": "Send the product id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Generic Products"
                ],
                "description": "edit product",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "categories",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoriesForm"
                        }
                    },
                    {
                        "name": "characteristics",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CharacteristicsForm"
                        }
                    },
                    {
                        "name": "modifications",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ModificationsForm"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TagsForm"
                        }
                    },
                    {
                        "name": "meta",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MetaForm"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    },
                    "455": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{product_id}/{modification_id}/{photo_id}": {
            "put": {
                "tags": [
                    "Generic Products"
                ],
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "modification_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{id}/photos": {
            "post": {
                "tags": [
                    "Generic Products"
                ],
                "description": "added photos",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{id}/photos/{photo_id}": {
            "delete": {
                "tags": [
                    "Generic Products"
                ],
                "description": "delete photo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{id}/photos/{photo_id}/up": {
            "patch": {
                "tags": [
                    "Generic Products"
                ],
                "description": "move up photo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{id}/photos/{photo_id}/down": {
            "patch": {
                "tags": [
                    "Generic Products"
                ],
                "description": "move down photo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/brands/{brand_id}/users": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "users",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    }
                }
            }
        },
        "/shop/brands/{brand_id}/generic/products": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "users",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProductData"
                            }
                        }
                    }
                }
            }
        },
        "/shop/brands/{brand_id}/user/products": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "users",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProductData"
                            }
                        }
                    }
                }
            }
        },
        "/shop/brands": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "brands",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Brand"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Brand"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "photo",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Brand"
                        }
                    }
                }
            }
        },
        "/shop/brands/{id}": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Brand"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Brand"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Brand"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Brand"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                }
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "parentId",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success response"
                    },
                    "500": {
                        "description": "Forbidden, the user does not have privileges"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Success response"
                    },
                    "500": {
                        "description": "Forbidden, the user does not have privileges"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    },
                    "500": {
                        "description": "Forbidden, the user does not have privileges"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/categories/{id}/parent": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "description": "return parent this category",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    },
                    "404": {
                        "description": "Not Found Category"
                    }
                }
            }
        },
        "/shop/categories/{id}/parents": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "description": "return parents this category",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    },
                    "404": {
                        "description": "Not Found Category"
                    }
                }
            }
        },
        "/shop/categories/{id}/children": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "description": "return children this category",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    },
                    "404": {
                        "description": "Not Found Category"
                    }
                }
            }
        },
        "/shop/characteristics": {
            "get": {
                "tags": [
                    "Characteristics"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Characteristic"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Characteristics"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "assignments",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CharacteristicsAssignments"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/characteristics/{id}/{category_id}": {
            "get": {
                "tags": [
                    "Characteristics"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "category_id",
                        "in": "path",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Characteristic"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Characteristics"
                ],
                "description": "revoke characteristic for category this",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "category_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/characteristics/category/{id}": {
            "get": {
                "tags": [
                    "Characteristics"
                ],
                "description": "send in path category_id, in response, characteristics list",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Characteristic"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/characteristics/{id}": {
            "post": {
                "tags": [
                    "Characteristics"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "assignments",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CharacteristicsAssignments"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Characteristics"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/shipping": {
            "get": {
                "tags": [
                    "Shipping"
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Shipping"
                ],
                "description": "destinations example 'destinations': [1,2,3,4]",
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "photo",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "rates",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/RateForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/shipping/{id}": {
            "get": {
                "tags": [
                    "Shipping"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Shipping"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "photo",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "rates",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/RateForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Shipping"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/shipping/rate/{id}": {
            "delete": {
                "tags": [
                    "Shipping"
                ],
                "parameters": [
                    {
                        "name": "rate_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/shipping/params": {
            "get": {
                "tags": [
                    "Shipping"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ShippingParams"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/addresses": {
            "get": {
                "tags": [
                    "addresses"
                ],
                "description": "Return user addresses",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response user addresses"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "addresses"
                ],
                "description": "add address",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "path",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "country_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "address_line_1",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "address_line_2",
                        "in": "path",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "path",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "index",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "default",
                        "in": "path",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response user Profile",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/addresses/{id}": {
            "post": {
                "tags": [
                    "addresses"
                ],
                "description": "Edit user address by id",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "path",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "country_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "address_line_1",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "address_line_2",
                        "in": "path",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "path",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "index",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "default",
                        "in": "path",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response user Profile",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "addresses"
                ],
                "description": "Delete user address by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response bool"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/addresses/{id}/default": {
            "patch": {
                "tags": [
                    "addresses"
                ],
                "description": "Delete user address by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response User object",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/follow/{follow_id}": {
            "patch": {
                "tags": [
                    "Followers"
                ],
                "description": "Returns boolean true",
                "parameters": [
                    {
                        "name": "follow_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response boolean"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/unfollow/{follow_id}": {
            "patch": {
                "tags": [
                    "Followers"
                ],
                "description": "Returns boolean true",
                "parameters": [
                    {
                        "name": "follow_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response boolean"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/following": {
            "get": {
                "tags": [
                    "Followers"
                ],
                "description": "Returns data array",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "properties": {
                                "KEY [0] -> {not approve}": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Profile"
                                    }
                                },
                                "KEY [1] -> {approve}": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Profile"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/following/{following_id}": {
            "patch": {
                "tags": [
                    "Followers"
                ],
                "description": "Returns data array",
                "parameters": [
                    {
                        "name": "following_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/followers": {
            "get": {
                "tags": [
                    "Followers"
                ],
                "description": "Returns data array",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "properties": {
                                "KEY [0] -> {not approve}": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Profile"
                                    }
                                },
                                "KEY [1] -> {approve}": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Profile"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/followers/{follower_id}": {
            "patch": {
                "tags": [
                    "Followers"
                ],
                "description": "Returns data array",
                "parameters": [
                    {
                        "name": "follower_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/followers/approve/{follower_id}": {
            "patch": {
                "tags": [
                    "Followers"
                ],
                "description": "Returns boolean",
                "parameters": [
                    {
                        "name": "follower_id",
                        "in": "path",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response boolean"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/followers/disapprove/{follower_id}": {
            "patch": {
                "tags": [
                    "Followers"
                ],
                "description": "Return boolean",
                "parameters": [
                    {
                        "name": "follower_id",
                        "in": "path",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response boolean"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/products": {
            "get": {
                "tags": [
                    "User Products"
                ],
                "description": "returns products array",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "products",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProductData"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User Products"
                ],
                "description": "Multipart/form-data",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "priceType",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "genericProductId",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "categories",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoriesForm"
                        }
                    },
                    {
                        "name": "price",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PriceForm"
                        }
                    },
                    {
                        "name": "characteristics",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CharacteristicsForm"
                        }
                    },
                    {
                        "name": "modifications",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ModificationsForm"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TagsForm"
                        }
                    },
                    {
                        "name": "meta",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MetaForm"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    },
                    "455": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/products/{id}": {
            "get": {
                "tags": [
                    "User Products"
                ],
                "description": "Send the product id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User Products"
                ],
                "description": "edit product",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "priceType",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "categories",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoriesForm"
                        }
                    },
                    {
                        "name": "price",
                        "in": "body",
[...]
