{
    "swagger": "2.0",
    "info": {
        "title": "Watch Vault apps API",
        "description": "HTTP JSON API",
        "version": "1.0.0"
    },
    "host": "api.watchvaultapp.com",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json",
        "application/xml",
        "application/x-www-form-urlencoded"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "parameters": [
                    {
                        "name": "login",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    }
                }
            }
        },
        "/signup": {
            "post": {
                "tags": [
                    "Sign up"
                ],
                "parameters": [
                    {
                        "name": "login",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "properties": {
                                "activate_token": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/activate/{activate_token}": {
            "get": {
                "tags": [
                    "Activation User account"
                ],
                "description": [
                    "Returns Token"
                ],
                "parameters": [
                    {
                        "name": "activation_token",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    }
                }
            }
        },
        "/": {
            "get": {
                "tags": [
                    "Info"
                ],
                "responses": {
                    "200": {
                        "description": "API version",
                        "schema": {
                            "properties": {
                                "version": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Token": {
            "properties": {
                "token": {
                    "type": "string"
                },
                "expired": {
                    "type": "integer"
                }
            },
            "type": "object"
        }
    }
}