{
    "swagger": "2.0",
    "info": {
        "title": "Watch Vault apps API",
        "description": "HTTP JSON API",
        "version": "1.0.0"
    },
    "host": "api.watchvaultapp.com",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json",
        "application/xml",
        "application/x-www-form-urlencoded"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "parameters": [
                    {
                        "name": "login",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    }
                }
            }
        },
        "/signup": {
            "post": {
                "tags": [
                    "Sign up"
                ],
                "parameters": [
                    {
                        "name": "login",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "properties": {
                                "activate_token": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/activate/{activate_token}": {
            "get": {
                "tags": [
                    "Activation User account"
                ],
                "description": "Returns Token",
                "parameters": [
                    {
                        "name": "activation_token",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    }
                }
            }
        },
        "/forgot": {
            "post": {
                "tags": [
                    "Password reset"
                ],
                "description": "Returns Email",
                "parameters": [
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "properties": {
                                "email": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/forgot/set-password/{password_reset_token}": {
            "post": {
                "tags": [
                    "Password reset"
                ],
                "description": "Returns Token",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "205": {
                        "description": "Success response Reset Content",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    }
                }
            }
        },
        "/public/users": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Public users, Return users array",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                }
            }
        },
        "/public/user/{id}": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Public user by id, return user data",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "404": {
                        "description": "User not found."
                    }
                }
            }
        },
        "/public/user/{id}/products": {
            "get": {
                "tags": [
                    "Public"
                ],
                "description": "Public user products by id, return user products array data",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                }
            }
        },
        "/": {
            "get": {
                "tags": [
                    "Info"
                ],
                "responses": {
                    "200": {
                        "description": "API version",
                        "schema": {
                            "properties": {
                                "version": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/generic/products/search": {
            "post": {
                "tags": [
                    "ElasticSearch"
                ],
                "description": "returns elasticSearch data array",
                "parameters": [
                    {
                        "name": "text",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "characteristics",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SearchData"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products": {
            "get": {
                "tags": [
                    "Generic Products"
                ],
                "description": "returns products array",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "characteristics",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProductData"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Generic Products"
                ],
                "description": "Multipart/form-data",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "categories",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoriesForm"
                        }
                    },
                    {
                        "name": "characteristics",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CharacteristicsForm"
                        }
                    },
                    {
                        "name": "modifications",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ModificationsForm"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TagsForm"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    },
                    "455": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{id}": {
            "get": {
                "tags": [
                    "Generic Products"
                ],
                "description": "Send the product id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Generic Products"
                ],
                "description": "edit product",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "categories",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoriesForm"
                        }
                    },
                    {
                        "name": "characteristics",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CharacteristicsForm"
                        }
                    },
                    {
                        "name": "modifications",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ModificationsForm"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TagsForm"
                        }
                    },
                    {
                        "name": "meta",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MetaForm"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    },
                    "455": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{product_id}/{modification_id}/{photo_id}": {
            "put": {
                "tags": [
                    "Generic Products"
                ],
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "modification_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{id}/photos": {
            "post": {
                "tags": [
                    "Generic Products"
                ],
                "description": "added photos",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{id}/photos/{photo_id}": {
            "delete": {
                "tags": [
                    "Generic Products"
                ],
                "description": "delete photo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{id}/photos/{photo_id}/up": {
            "patch": {
                "tags": [
                    "Generic Products"
                ],
                "description": "move up photo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/generic/products/{id}/photos/{photo_id}/down": {
            "patch": {
                "tags": [
                    "Generic Products"
                ],
                "description": "move down photo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/brands": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                }
            },
            "post": {
                "tags": [
                    "Brand"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/brands/{id}": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Brand"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Brand"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                }
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "parentId",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success response"
                    },
                    "500": {
                        "description": "Forbidden, the user does not have privileges"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Success response"
                    },
                    "500": {
                        "description": "Forbidden, the user does not have privileges"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    },
                    "500": {
                        "description": "Forbidden, the user does not have privileges"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/categories/{id}/parent": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "description": "return parent this category",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    },
                    "404": {
                        "description": "Not Found Category"
                    }
                }
            }
        },
        "/shop/categories/{id}/parents": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "description": "return parents this category",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    },
                    "404": {
                        "description": "Not Found Category"
                    }
                }
            }
        },
        "/shop/categories/{id}/children": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "description": "return children this category",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    },
                    "404": {
                        "description": "Not Found Category"
                    }
                }
            }
        },
        "/shop/characteristics": {
            "get": {
                "tags": [
                    "Characteristics"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Characteristic"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Characteristics"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "assignments",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CharacteristicsAssignments"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/characteristics/{id}": {
            "get": {
                "tags": [
                    "Characteristics"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Characteristic"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Characteristics"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Characteristics"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/shop/characteristics/category/{id}": {
            "get": {
                "tags": [
                    "Characteristics"
                ],
                "description": "send in path category_id, in response, characteristics list",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Characteristic"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/products": {
            "get": {
                "tags": [
                    "User Products"
                ],
                "description": "returns products array",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "property": "characteristics",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProductData"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User Products"
                ],
                "description": "Multipart/form-data",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "priceType",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "categories",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoriesForm"
                        }
                    },
                    {
                        "name": "price",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PriceForm"
                        }
                    },
                    {
                        "name": "characteristics",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CharacteristicsForm"
                        }
                    },
                    {
                        "name": "modifications",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ModificationsForm"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TagsForm"
                        }
                    },
                    {
                        "name": "meta",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MetaForm"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    },
                    "455": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/products/{id}": {
            "get": {
                "tags": [
                    "User Products"
                ],
                "description": "Send the product id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User Products"
                ],
                "description": "edit product",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "priceType",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "categories",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoriesForm"
                        }
                    },
                    {
                        "name": "price",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PriceForm"
                        }
                    },
                    {
                        "name": "characteristics",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CharacteristicsForm"
                        }
                    },
                    {
                        "name": "modifications",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ModificationsForm"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TagsForm"
                        }
                    },
                    {
                        "name": "meta",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MetaForm"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    },
                    "455": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/products/{id}/activate": {
            "get": {
                "tags": [
                    "User Products"
                ],
                "description": "Send the product id and the product status will become active",
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/products/{id}/draft": {
            "get": {
                "tags": [
                    "User Products"
                ],
                "description": "Send the product id and the product status will become a draft",
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/products/{product_id}/{modification_id}/{photo_id}": {
            "put": {
                "tags": [
                    "User Products"
                ],
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "modification_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/products/{id}/photos": {
            "post": {
                "tags": [
                    "User Products"
                ],
                "description": "added photos",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductData"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/products/{id}/photos/{photo_id}": {
            "delete": {
                "tags": [
                    "User Products"
                ],
                "description": "delete photo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/products/{id}/photos/{photo_id}/up": {
            "patch": {
                "tags": [
                    "User Products"
                ],
                "description": "move up photo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/user/products/{id}/photos/{photo_id}/down": {
            "patch": {
                "tags": [
                    "User Products"
                ],
                "description": "move down photo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "photo_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "description": "Returns profile info",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/profile/edit": {
            "post": {
                "tags": [
                    "Profile edit"
                ],
                "description": "Returns profile info. To send an image add in the header content-type: multipart/form-data",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "Token": {
            "properties": {
                "token": {
                    "type": "string"
                },
                "expired": {
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Users": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/User"
            }
        },
        "User": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                },
                "photo": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "birthDate": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "SearchData": {
            "description": "ElasticSearch result data",
            "type": "array",
            "items": {
                "properties": {
                    "_index": {
                        "type": "string"
                    },
                    "_type": {
                        "type": "string"
                    },
                    "_id": {
                        "type": "string"
                    },
                    "_score": {
                        "type": "integer"
                    },
                    "_source": {
                        "properties": {
                            "categoryName": {
                                "type": "string"
                            },
                            "categoryBreadcrumbs": {
                                "description": "example: parent / parent / mainCategory",
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "categoryId": {
                                "type": "integer"
                            },
                            "brandId": {
                                "type": "integer"
                            },
                            "brandName": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                }
            }
        },
        "Characteristic": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "variants": {
                    "type": "array",
                    "items": {}
                },
                "categories": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Category"
                    }
                }
            },
            "type": "object"
        },
        "Category": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "slug": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "meta_json": {
                    "type": "string"
                },
                "lft": {
                    "type": "integer"
                },
                "rgt": {
                    "type": "integer"
                },
                "depth": {
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "CharacteristicsAssignments": {
            "type": "array",
            "items": {
                "properties": {
                    "category_id": {
                        "type": "integer"
                    },
                    "variants": {
                        "type": "array",
                        "items": {}
                    }
                }
            }
        },
        "ProductData": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "category_id": {
                    "type": "integer"
                },
                "brand_id": {
                    "type": "integer"
                },
                "status": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "quantity": {
                    "type": "integer"
                },
                "photo": {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "thumb": {
                            "description": "450X675",
                            "type": "string"
                        },
                        "large": {
                            "description": "300X450",
                            "type": "string"
                        },
                        "search": {
                            "description": "100X150",
                            "type": "string"
                        },
                        "original": {
                            "description": "original",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "photos": {
                    "type": "array",
                    "items": {
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "thumb": {
                                "description": "450X675",
                                "type": "string"
                            },
                            "large": {
                                "description": "300X450",
                                "type": "string"
                            },
                            "search": {
                                "description": "100X150",
                                "type": "string"
                            },
                            "original": {
                                "description": "original",
                                "type": "string"
                            }
                        }
                    }
                },
                "price": {
                    "properties": {
                        "current": {
                            "properties": {
                                "price": {
                                    "type": "number"
                                },
                                "max": {
                                    "type": "number"
                                },
                                "end": {
                                    "type": "number"
                                },
                                "deadline": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "old": {
                            "type": "array",
                            "items": {
                                "properties": {
                                    "price": {
                                        "type": "number"
                                    },
                                    "max": {
                                        "type": "number"
                                    },
                                    "end": {
                                        "type": "number"
                                    },
                                    "deadline": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "type": "object"
                },
                "characteristics": {
                    "type": "array",
                    "items": {
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            },
                            "value": {
                                "type": "string"
                            }
                        }
                    }
                },
                "modifications": {
                    "type": "array",
                    "items": {
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "characteristic": {
                                "type": "string"
                            },
                            "value": {
                                "type": "string"
                            },
                            "price": {
                                "type": "integer"
                            },
                            "quantity": {
                                "type": "integer"
                            },
                            "photo": {
                                "type": "string"
                            }
                        }
                    }
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            },
                            "slug": {
                                "type": "string"
                            }
                        }
                    }
                },
                "price_type": {
                    "type": "string"
                },
                "rating": {
                    "type": "number"
                },
                "meta_json": {
                    "properties": {
                        "title": {
                            "type": "string"
                        },
                        "description": {
                            "type": "string"
                        },
                        "keywords": {
                            "type": "integer"
                        }
                    },
                    "type": "object"
                },
                "created_at": {
                    "type": "integer"
                },
                "updated_at": {
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TagsForm": {
            "properties": {
                "existing": {
                    "type": "array",
                    "items": {}
                },
                "textNew": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PriceForm": {
            "properties": {
                "current": {
                    "type": "number"
                },
                "deadline": {
                    "type": "integer"
                },
                "buyNow": {
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "MetaForm": {
            "properties": {
                "title": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "keywords": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CategoriesForm": {
            "properties": {
                "main": {
                    "type": "integer"
                },
                "others": {
                    "type": "array",
                    "items": {}
                }
            },
            "type": "object"
        },
        "CharacteristicsForm": {
            "type": "array",
            "items": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "value": {
                        "type": "string"
                    }
                }
            }
        },
        "ModificationsForm": {
            "type": "array",
            "items": {
                "properties": {
                    "characteristic_id": {
                        "type": "integer"
                    },
                    "value": {
                        "type": "string"
                    },
                    "quantity": {
                        "type": "integer"
                    },
                    "price": {
                        "type": "integer"
                    }
                }
            }
        },
        "Profile": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "createdAt": {
                    "type": "integer"
                },
                "status": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                },
                "birthDate": {
                    "type": "string"
                },
                "photo": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "securityDefinitions": {
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}